@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap');



a {
  color: inherit;
  text-decoration: none;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(89deg, #a2f4f9, #f9d4f8, #ffe5ba, #ffdcba);
  background-size: 800% 800%;

  -webkit-animation: bgFone 15s ease infinite;
  -moz-animation: bgFone 15s ease infinite;
  -o-animation: bgFone 15s ease infinite;
  animation: bgFone 15s ease infinite;
}


@-webkit-keyframes bgFone {
  0% {
    background-position: 0% 52%
  }

  50% {
    background-position: 100% 49%
  }

  100% {
    background-position: 0% 52%
  }
}

@-moz-keyframes bgFone {
  0% {
    background-position: 0% 52%
  }

  50% {
    background-position: 100% 49%
  }

  100% {
    background-position: 0% 52%
  }
}

@-o-keyframes bgFone {
  0% {
    background-position: 0% 52%
  }

  50% {
    background-position: 100% 49%
  }

  100% {
    background-position: 0% 52%
  }
}

@keyframes bgFone {
  0% {
    background-position: 0% 52%
  }

  50% {
    background-position: 100% 49%
  }

  100% {
    background-position: 0% 52%
  }
}


main {
  min-height: 70vh;
}

.swiper {
  width: 346px;
  height: 467px;
  box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.356);
  border-radius: 10px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;

}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 10px;

}

@media (max-width:992px) {
  .swiper {
    width: 300px;
    height: 400px;
  }
}

@media (max-width:700px) {
  .swiper {
    width: 320px;
    height: 400px;
  }

}

.lg-backdrop.in {
  background-color: rgba(0, 0, 0, 0.676);
}

.MuiButtonBase-root {
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-style: italic;
}

.container_map {
  width: 500px;
  height: 600px;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }

  body {
    color: white;
    background: black;
  }
} */